<h2>Заказы</h2>
<a href="/admin">Admin panel</a>
{% for item in orders %}
    <div style="margin-top: 12px" id="{{ item.id }}">
        <h3>Заказ {{ item.id }}</h3>
        <a href="/admin/order/?id={{ item.id }}">Подробнее</a>
        <button class="removeOrderAdmin" data-id="{{ item.id }}">Отменить заказ</button>
    </div>
{% endfor %}