<h2>Корзина main</h2>

{% for item in basket %}
    <div id="{{ item.id }}">
        <h3>{{ item.title }}</h3>
        <p>price: {{ item.price }}</p>
        <button class="remove" data-id="{{ item.basket_id }}">Удалить</button>
    </div>
{% endfor %}

<script>
    let buttons = document.querySelectorAll('.remove');
    buttons.forEach((e) => {
        e.addEventListener('click', () => {
            let id = e.getAttribute('data-id');
            (async () => {
                const response = await fetch('/basket/remove/?id=' + id)
                const answer = await response.json();
                document.getElementById('count').innerText = answer.count;
            })()
        })
    })
</script>