<div>
    <h2 class="product-title">{{ product.title }}</h2>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">price: {{ product.price }}</p>
    <button class="buy" data-id="{{ product.id }}">Купить</button>
</div>